body {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)50%), url(cover.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    margin-bottom: -500px;
}

header {
    background: #fff;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    

}

nav h1 span {
    color: #FF5400;
}
nav ul span{
    color: #FF5400;  
}

nav ul {
    gap: -50px;
    list-style: none;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-right: -30px;
    margin-left: 100px;
}

.AMA {
    width: 1170px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.AMA-content {
    color: #fff;
}

.AMA h1 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-left: 170px;
    text-align: center;
}


.AMA p {
    color: #FFF;
    text-align: center;
    margin-left: 200px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.form-section {
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    margin-left:200px ;
    background: rgba(255, 255, 255, 0.30);
}
#find-btn {
    background-color: #FF5400;
    text-shadow:black;
}

/* our popular tour section */
.popular-tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-contain{
    display: flex;
}
.popular-tours h1 {
    color: #131318;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.popular-tours p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popular-tours img {
    border-radius: 6px;
    width: 500px;
    height: 400px;
}

.read-more-button {
    border-radius: 10px;
    background: #FF5400;
    width: 150px;
    height: 50px;
    padding: 10px 15px; 
    border-radius: 5px; 
}




@media (max-width: 600px) {
}

@media (min-width: 992px) {
    
}